body {
    font-family: Arial, sans-serif;
    background: #f2f5f8;
    text-align: center;
    margin: 0;
    padding: 30px;
}

h1 {
    margin-bottom: 30px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 220px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card p {
    font-size: 30px;
    font-weight: bold;
}

table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background: white;
}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background: #333;
    color: white;
}